
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1 !important;
    cursor: pointer;
  }
.category-btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 8px;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #17a2b8 !important;
    color: white !important;
  }
  .category-btn-active, .category-btn:hover {
    background-color: #ecfcff !important;
    color: #17a2b8 !important;
  }

  main{
    min-height: 80vh;
  }
  
.img-popup{
  width: 300px !important;
  object-fit:contain;
}
/* Style accordion active collapsed  */
.accordion-button:not(.collapsed) {
  color: #17a2b8 !important;
  background-color: #ecfdff !important;
  box-shadow: none !important;
}

/* Media Query for mobile responsive  */
@media only screen and (max-width: 576px) {
  .avatar{
    display: none;
  }
}