
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1 !important;
    cursor: pointer;
  }
.category-btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 8px;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #17a2b8 !important;
    color: white !important;
  }
  .category-btn-active, .category-btn:hover {
    background-color: #ecfcff !important;
    color: #17a2b8 !important;
  }

  .news-categories{
    min-height: 600px;
  }

/* Media Query for mobile responsive  */
#categories-menu{
  display: flex;
  flex-wrap: wrap !important;

}
.img-popup{
  width: 300px !important;
  height: 300 !important;
  object-fit:contain;
}